<div class="container bg-secondary rounded-2" style="border: 2px dashed #000; --bs-bg-opacity: .5;">   
    <div class="row">
        <span class="fs-3 text-center mb-4 mt-4">Encabezado de facturas</span>
        <div class="col-sm-4 d-flex gap-5 w-100">
            <div class="input-group mb-3 w-50">
                <span class="input-group-text" id="basic-addon1">$</span>
                <input type="text" class="form-control input_products" name="N_bill"  placeholder="Numero de factura" aria-label="N_bill" aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-3 w-50">
                <span class="input-group-text" id="basic-addon1"><i class="bi bi-calendar-event"></i></span>
                <input type="date" class="form-control input_products" name="date_buy"  aria-label="date" aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-3 w-50">
                <span class="input-group-text" id="basic-addon1"><i class="bi bi-bag"></i></span>
                <input type="text" class="form-control input_products" name="seller" placeholder="Vendedor" aria-label="name" aria-describedby="basic-addon1">
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-sm-4 d-flex gap-5 w-100">
            <div class="input-group mb-3 w-50">
                <span class="input-group-text" id="basic-addon1"><i class="bi bi-person"></i></span>
                <input type="text" class="form-control input_products" name="ID_user" placeholder="Numero de identificación" aria-label="N_bill" aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-3 w-50">
                <input type="text" class="form-control input_products" name="full_name" placeholder="Nombre completo" aria-label="full_name">
            </div>

            <div class="input-group mb-3 w-50">
                <span class="input-group-text" id="basic-addon1"><i class="bi bi-envelope"></i></span>
                <input type="text" class="form-control input_products" name="email" placeholder="Correo electronico" aria-label="email" aria-describedby="basic-addon1">
            </div>
        </div>
        </div>

    <div class="row mt-4">
        <div class="col-sm-4 d-flex gap-5 w-100">
            <div class="input-group mb-3 w-50">
                <span class="input-group-text" id="basic-addon1"><i class="bi bi-person"></i></span>
                <input type="text" class="form-control input_products" name="address" placeholder="Direccion" aria-label="N_bill" aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-3 w-50">
                <span class="input-group-text" id="basic-addon1"><i class="bi bi-person"></i></span>
                <input type="text" class="form-control input_products" name="contact_number" placeholder="Telefono de contacto" aria-label="full_name">
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row"> 
        <div class="col text-center lh-lg">
            <span class="fs-3">Detalle factura</span>
        </div>
    </div>
</div>

    <div class="container bg-secondary rounded-2 mt-3 overflow-auto" id="products" style="border: 2px dashed #000; --bs-bg-opacity: .5; height: 80px">   
        <div class="row mt-3">
            <div class="col-sm-4 d-flex align-items-center gap-3 w-100" id="product_1">
                <div class="input-group mb-3 w-50">
                    <input type="text" class="form-control input_products" name="cod_product" placeholder="Cod producto" aria-label="N_bill" aria-describedby="basic-addon1">
                </div>
    
                <div class="input-group mb-3 w-50">
                    <input type="text" placeholder="Nombre del producto" name="name_product" class="form-control input_products"  aria-label="date" aria-describedby="basic-addon1">
                </div>
    
                <div class="input-group mb-3 w-50">
                    <input type="number" class="form-control input_products" name="amount" placeholder="Cantidad" aria-label="name" aria-describedby="basic-addon1" value="0" readonly>
                </div>
    
                <div class="input-group mb-3 w-50">
                    <input type="number" class="form-control input_products" name="value_init" placeholder="Valor Unit" aria-label="name" aria-describedby="basic-addon1">
                </div>
    
                <div class="input-group mb-3 w-50">
                    <button class="btn btn-success w-100 amount">+</button>
                </div>
                <div class="input-group mb-3 w-50">
                    <button class="btn btn-danger w-100 amount">-</button>
                </div>
            </div>
        </div>
    </div>


<div class="container">
    <div class="row">
        <div class="col w-100 d-flex gap-3" >    
            <button class="btn btn-success mt-2 w-50" id="buy">finalizar compra</button>
            <button class="btn btn-warning mt-2 w-50" id="add">Agregar Producto</button>
        </div>          
    </div>
</div>

<div class="container">
    <div class="row mt-5">
        <div class="col">
            <div class="bill d-flex flex-column justify-content-center p-3"></div>
        </div>
    </div>
</div>