<div class="container bg-secondary rounded-2" style="border: 2px dashed #000">   
    <div class="row">
        <span class="fs-3 text-center text-light mb-4 mt-4">Encabezado de facturas</span>
        <div class="col-sm-4 d-flex gap-5 w-100">
            <div class="input-group mb-3 w-50">
                <span class="input-group-text" id="basic-addon1">$</span>
                <input type="text" class="form-control" placeholder="Numero de factura" aria-label="N_bill" aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-3 w-50">
                <span class="input-group-text" id="basic-addon1"><i class="bi bi-calendar-event"></i></span>
                <input type="date" class="form-control"  aria-label="date" aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-3 w-50">
                <span class="input-group-text" id="basic-addon1"><i class="bi bi-bag"></i></span>
                <input type="text" class="form-control" placeholder="Vendedor" aria-label="name" aria-describedby="basic-addon1">
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-sm-4 d-flex gap-5 w-100">
            <div class="input-group mb-3 w-50">
                <span class="input-group-text" id="basic-addon1"><i class="bi bi-person"></i></span>
                <input type="text" class="form-control" placeholder="Numero de identificación" aria-label="N_bill" aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-3 w-50">
                <input type="text" class="form-control" placeholder="Nombre completo" aria-label="full_name">
            </div>

            <div class="input-group mb-3 w-50">
                <span class="input-group-text" id="basic-addon1"><i class="bi bi-envelope"></i></span>
                <input type="text" class="form-control" placeholder="Correo electronico" aria-label="email" aria-describedby="basic-addon1">
            </div>
        </div>
        </div>

    <div class="row mt-4">
        <div class="col-sm-4 d-flex gap-5 w-100">
            <div class="input-group mb-3 w-50">
                <span class="input-group-text" id="basic-addon1"><i class="bi bi-person"></i></span>
                <input type="text" class="form-control" placeholder="Direccion" aria-label="N_bill" aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-3 w-50">
                <span class="input-group-text" id="basic-addon1"><i class="bi bi-person"></i></span>
                <input type="text" class="form-control" placeholder="Telefono de contacto" aria-label="full_name">
            </div>
        </div>
    </div>
</div>
