    <div class="row mt-3">
        <div class="col-sm-4 d-flex gap-3 w-100">
            <div class="input-group mb-3 w-50">
                <input type="text" class="form-control input_products" name="cod_product" placeholder="Cod producto" aria-label="N_bill" aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-3 w-50">
                <input type="text" placeholder="Nombre del producto" name="name_product" class="form-control input_products"  aria-label="date" aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-3 w-50">
                <input type="number" class="form-control input_products" name="amount" placeholder="Cantidad" aria-label="name" aria-describedby="basic-addon1" value="0" readonly>
            </div>

            <div class="input-group mb-3 w-50">
                <input type="number" class="form-control input_products" name="value_init" placeholder="Valor Unit" aria-label="name" aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-3 w-50">
                <button class="btn btn-success w-100 amount">+</button>
            </div>
            <div class="input-group mb-3 w-50">
                <button class="btn btn-danger w-100 amount">-</button>
            </div>
        </div>
    </div>